<script src="js/header.js"></script>
<div class="heading">
  <p class="title">ACHIEVEMENTS</p>
</div>
<nav ng-include="'views/nav.html'"></nav>
<div class="menu fa fa-ellipsis-h"></div>
<div class="content">
	<input class="search-box" placeholder="🔍 search..." type="search">
	<div class="achievement">
		<img class="icon" src="images/ACS_1.png" alt="">
		<p class="name">A Spanner in the Works</p>
		<p class="desc">Complete Memory Sequence 1</p>

		<img class="icon" src="images/ACS_2.png" alt="">
		<p class="name">A Simple Plan</p>
		<p class="desc">Complete Memory Sequence 2</p>

		<img class="icon" src="images/ACS_3.png" alt="">
		<p class="name">A Modern Babylon</p>
		<p class="desc">Complete Memory Sequence 3</p>
	</div>
</div>