<script src="js/header.js"></script>
<div class="heading">
  <p class="title">GAMES</p>
</div>
<nav ng-include="'views/nav.html'"></nav>
<div class="menu fa fa-ellipsis-h"></div>
<div class="content">
	<input class="search-box" placeholder="🔍 search..." type="search">
	<div class="game" style="height: 155px;">
		<div class="boxart">
			<img class="art" src="images/ACS_Box_art.jpg" alt="">
		</div>
		<div class="title">
			<a href="#/index" class="primary">ASSASSIN'S CREED: SYNDICATE</a>
		</div>
	</div>
	<div class="game" style="height: 155px;">
		<div class="boxart">
			<img class="art" src="images/Acunity.jpg" alt="">
		</div>
		<div class="title">
			<a href="#/index" class="primary">ASSASSIN'S CREED: UNITY</a>
		</div>
	</div>
	<div class="game" style="height: 155px;">
		<div class="boxart">
			<img class="art" src="images/halo5_art.jpg" alt="">
		</div>
		<div class="title">
			<a href="#/index" class="primary">HALO 5: GUARDIANS</a>
		</div>
	</div>
</div>