<script src="js/header.js"></script>
<div class="heading">
  <p class="title">ASSASSINS CREED: SYNDICATE</p>
</div>
<nav ng-include="'views/nav.html'"></nav>
<div class="menu fa fa-ellipsis-h"></div>
	<div class="content">
		<ul class="info">
			<li class="publisher">
				Ubisoft
			</li>		
			<li class="release">
				2015
			</li>
		</ul>
		<div class="synopsis">
			<p class="subheading">OVERVIEW</p>
			<p class="overview">In 1868, at the tail end of the Industrial Revolution, with the Assassin Brotherhood all but eradicated in Victorian London, twins Jacob and Evie Frye leave Croydon for London and arrive to find a city controlled by the Templars, with both the Church and the Monarchy losing their power. Raised as Assassins to follow the Creed, Jacob and Evie aim to take back the city from Templar control by infiltrating and uniting London's criminal underworld.</p>
		</div>

		<div class="DLC">
			<p class="subheading">DLC</p>
			<p class="DLC-name">The Dreadful Crimes</p>
			<p class="DLC-name">The Last Maharaja</p>
			<p class="DLC-name">Jack The Ripper</p>
		</div>

		<div class="achievement">
			<p class="subheading">ACHIEVEMENTS</p>

			<img class="icon" src="images/ACS_1.png" alt="">
			<p class="name">A Spanner in the Works</p>
			<p class="desc">Complete Memory Sequence 1</p>

			<img class="icon" src="images/ACS_2.png" alt="">
			<p class="name">A Simple Plan</p>
			<p class="desc">Complete Memory Sequence 2</p>

			<img class="icon" src="images/ACS_3.png" alt="">
			<p class="name">A Modern Babylon</p>
			<p class="desc">Complete Memory Sequence 3</p>
		</div>
	</div>